<app-navbar-fake></app-navbar-fake>
<ngx-spinner></ngx-spinner>

<body data-spy="scroll" data-target="#navbar-example">
  <main id="main" *ngIf="showData">
    <!-- ======= Blog Header ======= -->
    <div class="header-bg header-dinamic page-area">
      <div class="home-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content text-center blogPD">
              <div class="header-bottom">
                <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                  <h1 class="title2">Hospital Infantil Palmira Sales </h1>
                </div>
                <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                  <h2 class="title3">{{titulo}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline2">
              <h5 class="title3 text-center dtpub">Publicado em: {{data}}</h5>
              <div [innerHTML]="HTML"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <div *ngIf="carroussel.length > 0">
                <ngb-carousel>
                  <ng-template *ngFor="let img of carroussel " ngbSlide>
                    <img
                      [src]="img"
                      alt="Random first slide"
                      class="img-fluid mx-auto d-block"
                      width="100%"
                    />
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
  <!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

</body>