<div [@routerTransition]>
    <ngx-spinner></ngx-spinner>
    <div class="container-fluid" *ngIf="showData">
        <div class="d-sm-flex align-items-center justify-content-between mb-4 title">
            <h1 class="h3 mb-0 text-gray-800">Membros Dirigentes</h1>
        </div>
        
        <div class="row">
            <p class="col-lg-8 col-md-8 mb-4"> </p>
        </div>
        
        <div class="row"><!-- Content Row -->
            <div class="col-lg-11 col-md-11 mb-4"><!-- Content Column -->

                
                <div [innerHTML]="membros" style="text-align: justify;">
                </div>
    
                
            </div><!--End column-->
        </div>
    </div>
</div>
